/* ----- Style Guide ----- */

/* Google Font Import - Outfit - Weight: 400, 700 */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/* Color variables to reference throughout style sheet */
:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

/* Body styling */
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-family: Outfit, Helvetica, sans-serif;
    text-align: center;
    background-color: var(--light-gray);
}

/* Container - Grid */
.container {
    display: grid;
    place-content: center;
    height: 100vh;
}

/* Card Styling */
.card {
    margin: auto auto 1em;
    max-width: 50%;
    padding: 2em;
    border-radius: 20px;
    background-color: var(--white);
    box-shadow: 5px 5px 5px var(--grayish-blue);
}

.card img {
    width: 100%;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
}

.card h1 {
    font-size: 0.9rem;
    color: var(--dark-blue);
}

.card p {
    font-size: 0.7rem;
    color: var(--grayish-blue)
}

/* ----- Media Queries ----- */
/* Update font-size on larger screens */
@media screen and (min-width: 500px) {
    .card h1,
    .card p {
        font-size: 1.3rem;
    }

    .attribution {
        font-size: 1.3rem;
    }
}

/* Predefined styles */
.attribution  {
    color: hsl(228, 45%, 44%);
    font-size: 0.9rem;
}